<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OS MCQs</title>
    <link rel="stylesheet" href="css/allsub.css">
    <script src="https://kit.fontawesome.com/d4b6d93ef0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
          
</head>
<body>
    <nav>
        <div class="container">
            <a href="#" class="company-logo">
                <img src="/images/logo2-removebg-preview.png" alt="company-logo">
            </a>
        </div>
        <a href="/index2" class="hov">Home</a>
    
        <div class="dropdown">
        <button class="dropbtn">Subjects  <i class="fa-solid fa-caret-down"></i></i></button>
        <div class="dropdown-content">
            <a href="/dsa" class="hov">DSA</a>
            <a href="/dbms" class="hov">DBMs</a>
            <a href="/osmcq" class="hov">OS</a>
            <a href="/cn" class="hov">CN</a>
            <a href="#" class="hov"><i class="fa-solid fa-magnifying-glass"></i> View All</a>
        </div>
        </div>
    
        <div class="dropdown">
        <button class="dropbtn">GATE  <i class="fa-solid fa-caret-down"></i></button>
        <div class="dropdown-content">
            <a href="/cn">Networking</a>
            <a href="/ca">Computer Architecture</a>
            <a href="#">Engineering Mathematics</a>
            <a href="#"><i class="fa-solid fa-magnifying-glass"></i> View All</a>
        </div>
        </div>
    
        <a class="hov" href="#">Notes</a>
    
        <div class="dropdown">
        <button class="dropbtn">Programming  <i class="fa-solid fa-caret-down"></i></button>
        <div class="dropdown-content">
            <a href="#">Python</a>
            <a href="#">C Language</a>
            <a href="#">CPP</a>
            <a href="#">Java</a>
            <a href="#"><i class="fa-solid fa-magnifying-glass"></i> View All</a>
        </div>
        </div>
        <p></p>
        <p></p><p></p>
        <div class="login">
            <a class="ab hov" href="/login">Login</a>
            <a class="abc hov" href="/register">Signup</a>  </nav>
        </div>
    </nav>
    
    <!-- Second Section -->
    
    <div class="second">
        <div class="text">
            <br>
            <br>
            <h1>All Categories - Computer Science MCQs</h1>
            <div class="p1">
                <p>Welcome to our all-encompassing library of Computer Science Multiple-Choice Questions (MCQs). As one of the most comprehensive resources online, we cover all major subjects within the realm of computer science. From Data Structures and Algorithms , Operating Systems, to Artificial Intelligence, Computer Networks, and Software Engineering, we have an extensive list of MCQs that continues to grow every day.</p>
            </div>
        </div>
    </div>


    
    <div class="main-container">

        <!-- left side section -->

        <div class="left-side-container">
            <div class="Networking hover">
                <div class="section1">
                    <a href="/cn">Networking</a>
                    <div class="img1">
                        <a href="/cn"><img src="/images/allcat-Networking.png"></a>
                    </div>
                    <div class="written1">
                        <p>Explore the intricacies of digital communication with our Networking MCQs. From basic network theory to advanced concepts like the OSI Model and TCP/IP, we've got it all covered.</p>
                    </div>
                </div>
            </div>
            <div class="Software hover">
                <div class="section2">
                    <a class="a1" href="/software">Software Engineering</a>
                    <div class="img2">
                        <a href="/software"><img src="/images/allcat-Software Engineering.png"></a>
                    </div>
                    <div class="written2">
                        <p>Explore the intricacies of digital communication with our Networking MCQs. From basic network theory to advanced concepts like the OSI Model and TCP/IP, we've got it all covered.</p>
                    </div>
                </div>
            </div>


            <!-- middle section 1-->
            
            <div class="middle1">
                <div class="text">
                    <p><i class="fa-solid fa-quote-left"></i> Welcome to our comprehensive platform designed specifically for Computer Science and Engineering (CSE) students seeking to enhance their understanding and practice of multiple-choice questions (MCQs). Tailored to the needs of CSE learners, our website offers a diverse range of MCQs covering fundamental concepts to advanced topics in computer science. With an intuitive user interface and organized content, navigating through various subjects such as Data Structures and Algorithms, Operating Systems, Computer Networks, and more, becomes seamless. <i class="fa-solid fa-quote-right"></i></p>
                </div>
            </div>


            <div class="Ca hover">
                <div class="section3">
                    <a class="a1" href="/ca">Computer Architecture</a>
                    <div class="img3">
                        <a href="/ca"><img src="/images/allcat-Computer Architecture.png"></a>
                    </div>
                    <div class="written3">
                        <p>Unveil the science behind computer design with our Computer Architecture MCQs. Topics include data types, machine language, and microarchitecture.</p>
                    </div>
                </div>
            </div>

            <div class="dbms hover">
                <div class="section7">
                    <a class="a1" href="/dbms">DBMS</a>
                    <div class="img7">
                        <a href="/dbms"><img src="/images/allcat-DBMS.png"></a>
                    </div>
                    <div class="written7">
                        <p>Get a firm grasp on database systems with our DBMS MCQs. Explore relational databases, SQL, normalization, and more.</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- right side section -->

        <div class="right-side-container">
            <div class="os hover">
                <div class="section4">
                    <a href="/osmcq"><span>Operating System</span></a>
                    <div class="img4">
                        <a href="/osmcq"><img src="/images/allcat-Operating System.png"></a>
                    </div>
                    <div class="written4">
                        <p>Dive deep into the core of computers with our Operating System MCQs. Learn about process scheduling, memory management, file systems, and more!</p>
                    </div>
                </div>
            </div>
            <div class="DSA hover">
                <div class="section5">
                    <a class="a1" href="/dsa">Data Structures and Algorithms</a>
                    <div class="img5">
                        <a href="/dsa"><img src="/images/allcat-Data Structures and Algorithms.png"></a>
                    </div>
                    <div class="written5">
                        <p>Journey through the fundamentals of Data Structures and Algorithms with our extensive collection of MCQs. Dive deep into topics such as 'Arrays', 'Linked Lists', 'Trees', 'Graphs', and 'Sorting and Searching Algorithms'.</p>
                    </div>
                </div>
            </div>


            <!-- middle section 2-->
            <div class="middle2">
                <div class="photo">
                    <img src="/images/pc1.png">
                </div>
            </div>
            .
            <div class="AI hover">
                <div class="section6">
                    <a class="a1" href="/AI">Artificial Intelligence</a>
                    <div class="img6">
                        <a href="/AI"><img src="/images/allcat-Artificial Intelligence.png"></a>
                    </div>
                    <div class="written6">
                        <p>Get started on the path to the future with our Artificial Intelligence MCQs. Covering topics from machine learning to neural networks and expert systems.</p>
                    </div>
                </div>
            </div>

            <div class="Cpp hover">
                <div class="section8">
                    <a class="a1" href="/cpp">Object Oriented Programming Using C++</a>
                    <div class="img8">
                        <a href="/cpp"><img src="/images/allcat-Object Oriented Programming Using C plus plus.png"></a>
                    </div>
                    <div class="written8">
                        <p>Enhance your programming skills with our MCQs on Object Oriented Programming using C++. From encapsulation and inheritance to polymorphism and abstraction, get a grasp on all concepts.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>


    
    
<!-- footer section -->
<footer>
    <div class="main">
        <div class="submain">
            <div class="head">
                <br>
                <br>
                <h3>QuizHub is a comprehensive directory of Objective Type Questions (MCQs) covering all Computer Science subjects. Our platform enables you to access and discuss multiple-choice questions and answers, making it an invaluable resource for competitive exams and interviews.</h3>
            </div>
            <div class="icon">
                <div class="icon1 iconhover">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="icon1 iconhover">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="icon1 iconhover">
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
            <div class="email">
                <h4><i class="fa-regular fa-envelope"></i>:contact@quizhub.com</h4>
            </div>
            <div class="info">
                <div class="tags">
                    <a href="#">About Us</a>
                    <a href="#">Contact Us</a>
                    <a href="#">Copyright</a>
                    <a href="#">TOS and Privacy Policy</a>
                </div>
                <div class="write">
                    <h4>Copyright © 2024 Compsciedu.com. All Rights Reserved.</h4>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="osmcq.js"></script>
</body>
</html>