<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OS MCQs</title>
    <link rel="stylesheet" href="css/c.css">
    <script src="https://kit.fontawesome.com/d4b6d93ef0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link
      rel="stylesheet"
      data-purpose="Layout StyleSheet"
      title="Web Awesome"
      href="/css/app-wa-fba26eda6a3fd6b4d0ce0def1e2ba1d7.css?vsn=d"
    >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css"
      >

      
      <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
          
</head>
<body>
    <nav>
        <div class="container">
            <a href="#" class="company-logo">
                <img src="/images/logo2-removebg-preview.png" alt="company-logo">
            </a>
        </div>
        <a href="#" class="hov">Home</a>
    
        <div class="dropdown">
        <button class="dropbtn">Subjects  <i class="fa-solid fa-caret-down"></i></i></button>
        <div class="dropdown-content">
            <a href="#" class="hov">DSA</a>
            <a href="#" class="hov">DBMs</a>
            <a href="#" class="hov">OS</a>
            <a href="#" class="hov">CN</a>
            <a href="#" class="hov"><i class="fa-solid fa-magnifying-glass"></i> View All</a>
        </div>
        </div>
    
        <div class="dropdown">
        <button class="dropbtn">GATE  <i class="fa-solid fa-caret-down"></i></button>
        <div class="dropdown-content">
            <a href="#">Networking</a>
            <a href="#">Computer Architecture</a>
            <a href="#">Engineering Mathematics</a>
            <a href="#"><i class="fa-solid fa-magnifying-glass"></i> View All</a>
        </div>
        </div>
    
        <a class="hov" href="#">Notes</a>
    
        <div class="dropdown">
        <button class="dropbtn">Programming  <i class="fa-solid fa-caret-down"></i></button>
        <div class="dropdown-content">
            <a href="#">Python</a>
            <a href="#">C Language</a>
            <a href="#">CPP</a>
            <a href="#">Java</a>
            <a href="#"><i class="fa-solid fa-magnifying-glass"></i> View All</a>
        </div>
        </div>
        <p></p>
        <p></p><p></p>
        <div class="login">
            <a class="ab hov" href="#">Login</a>
            <a class="abc hov" href="#">Signup</a>  </nav>
        </div>
    </nav>
    
    <!-- Second Section -->
    
    <div class="second">
        <div class="text">
            <br>
            <br>
            <h1>C Programming Multiple Choice Questions</h1>
            <div class="p1">
                <p>Welcome to the realm of C programming, where logic intertwines with syntax to craft powerful and efficient solutions. In this category, we present a diverse array of multiple-choice questions (MCQs) delving into the core concepts, intricacies, and functionalities of the C programming language.</p>

            </div>
        </div>
    </div>


    <!-- quiz and side section -->
    
    <div class="main-container">

        <!-- side section -->

        <div class="side-container">
            <div class="heading">
                <h3>Concepts related to</h3>
                <h2 id="h22">Computer Science</h2>
            </div>

            <div class="home">
                <a href="#"><i class="fa-solid fa-house"></i> <span class="texts">Home</span>
                </a>
                <hr>
            </div>

            <div class="reasoning">
                <a href="#"><i class="fa-solid fa-integral"></i> <span class="texts">Arithmetic Aptitude</span></a><br>
                <a href="#"><i class="fa-solid fa-bars"></i> <span class="texts">Verbal Ability</span></a><br>
                <a href="#"><i class="fa-brands fa-readme"></i></i> <span class="texts">Logical Reasoning</span></a><br>
                <a href="#"><i class="fa-solid fa-arrow-up-a-z"></i></i> <span class="texts">Verbal Reasoning</span></a><br>
                <a href="#"><i class="fa-solid fa-table-cells-large"></i></i> <span class="texts">Nonverbal Reasoning</span></a>
                <hr>
            </div>

            <div class="prog">
                <a href="#"><i class="devicon-c-plain"></i><span class="texts">C Programming</span></a><br>
                <a href="#"><i class="devicon-cplusplus-plain"></i> <span class="texts">C++</span></a><br>
                <a href="#"><i class="devicon-python-plain"></i><span class="texts">Python</span></a><br>
                <a href="#"><i class="devicon-java-plain"></i><span class="texts">Java</span></a><br>
                <a href="#"><i class="devicon-azuresqldatabase-plain"></i><span class="texts">Database</span></a>
                <hr>
            </div>

            <div class="prog">
                <a href="#"><i class="fa-solid fa-square-user"></i><span class="texts">HR Interview</span></a><br>
                <a href="#"><i class="fa-solid fa-user-group"></i><span class="texts">Group Discussion</span></a><br>
                <a href="#"><i class="fa-solid fa-note-sticky"></i><span class="texts">Placement Papers</span></a><br>
                <a href="#"><i class="fa-solid fa-user-tie"></i><span class="texts">Technical Interview</span></a><br>
                <a href="#"><i class="fa-solid fa-angles-right"></i><span class="texts">Read More...</span></a>
                <hr>
            </div>

            <div class="prog">
                <a href="#"><i class="fa-regular fa-clock"></i><span class="texts">Online Tests</span></a><br>
                <a href="#"><i class="fa-solid fa-earth-americas"></i><span class="texts">Current Affairs</span></a><br>
                <a href="#"><i class="fa-solid fa-head-side-brain"></i><span class="texts">General Knowledge</span></a><br>
                <a href="#"><i class="fa-solid fa-angles-right"></i><span class="texts">Read More...</span></a>
                <hr>
            </div>

            <div class="prog">
                <a href="#"><i class="fa-solid fa-wrench"></i><span class="texts">Mechanical Engineering</span></a><br>
                <a href="#"><i class="fa-solid fa-city"></i><span class="texts">Civil Engineering</span></a><br>
                <a href="#"><i class="fa-regular fa-microchip"></i><span class="texts"> ECE</span></a><br>
                <a href="#"><i class="fa-solid fa-plug"></i><span class="texts"> EEE</span></a><br>
                <a href="#"><i class="fa-solid fa-laptop"></i><span class="texts">CSE</span></a><br>
                <a href="#"><i class="fa-solid fa-angles-right"></i><span class="texts">Read More...</span></a>
                <hr>
            </div>
            <div class="prog">
                <a href="#"><i class="fa-light fa-address-card"></i><span class="texts">Contact Us</span></a><br>
            </div>
        </div>


        <!-- Quiz section -->

        <div class="quiz-main">
            <div class="quiz-container">
                <h2>Question 1:</h2>
                <!-- <br> -->
                <p>What will be the output of the following C code?
                  #include <stdio.h> <br>
                    int main() <br>
                    { <br>
                        int y = 10000; <br>
                        int y = 34; <br>
                        printf("Hello World! %d\n", y); <br>
                        return 0; <br>
                    }
                </p>
                
                <div class="options-container">
                  <div class="option" onclick="checkAnswer(this, 'a) Compile time error', 'solution1')">a) Compile time error</div>
                  <div class="option" onclick="checkAnswer(this, 'a) Compile time error', 'solution1')">b) Hello World! 34</div>
                  <div class="option" onclick="checkAnswer(this, 'a) Compile time error', 'solution1')">c) Hello World! 1000</div>
                  <div class="option" onclick="checkAnswer(this, 'a) Compile time error', 'solution1')">d) Hello World! followed by a junk value</div>
                </div>
                
                <button onclick="toggleSolution('solution1')">Show Solution</button>
                
                <div id="solution1" class="solution">
                  <p>The correct answer is <strong>a) Compile time error</strong>.</p>
                </div>
            </div>
        
            <div class="quiz-container">
                <h2>Question 2:</h2>
                <!-- <br> -->
                <p>What will be the output of the following C code? (Initial values: x= 7, y = 8)
                  #include <stdio.h> <br>
                    void main() <br>
                    { <br>
                        float x; <br>
                        int y; <br>
                        printf("enter two numbers \n"); <br>
                        scanf("%f %f", &x, &y); <br>
                        printf("%f, %d", x, y); <br>
                    }
                </p>
                
                <div class="options-container">
                  <div class="option" onclick="checkAnswer(this, 'c) 7.000000, junk', 'solution2')">a) 7.000000, 7</div>
                  <div class="option" onclick="checkAnswer(this, 'c) 7.000000, junk', 'solution2')">b) Run time error</div>
                  <div class="option" onclick="checkAnswer(this, 'c) 7.000000, junk', 'solution2')">c) 7.000000, junk</div>
                  <div class="option" onclick="checkAnswer(this, 'c) 7.000000, junk', 'solution2')">d) Varies</div>
                </div>
                
                <button onclick="toggleSolution('solution2')">Show Solution</button>
                
                <div id="solution2" class="solution">
                  <p>The correct answer is <strong>c) 7.000000, junk</strong>.</p>
                </div>
            </div>
        
            <div class="quiz-container">
                <h2>Question 3:</h2>
                <!-- <br> -->
                <p>What is the output of the program?
                  #include <stdio.h> <br>
                    int main() <br>
                    { <br>
                        int i = 3; <br>
                        printf(\"%d\", (++i)++); <br>
                        return 0; <br>
                    }
                </p>
                
                <div class="options-container">
                  <div class="option" onclick="checkAnswer(this, 'd) Compile-time error', 'solution3')">a) 3</div>
                  <div class="option" onclick="checkAnswer(this, 'd) Compile-time error', 'solution3')">b) 4</div>
                  <div class="option" onclick="checkAnswer(this, 'd) Compile-time error', 'solution3')">c) 5</div>
                  <div class="option" onclick="checkAnswer(this, 'd) Compile-time error', 'solution3')">d) Compile-time error</div>
                </div>
                
                <button onclick="toggleSolution('solution3')">Show Solution</button>
                
                <div id="solution3" class="solution">
                  <p>The correct answer is <strong>d) Compile-time error</strong>.</p>
                </div>
            </div>

            <div class="quiz-container">
                <h2>Question 4:</h2>
                <!-- <br> -->
                <p>Which of the following is not a logical operator?</p>
                
                <div class="options-container">
                  <div class="option" onclick="checkAnswer(this, 'd) |', 'solution4')">a) &&y</div>
                  <div class="option" onclick="checkAnswer(this, 'd) |', 'solution4')">b) !</div>
                  <div class="option" onclick="checkAnswer(this, 'd) |', 'solution4')">c) ||</div>
                  <div class="option" onclick="checkAnswer(this, 'd) |', 'solution4')">d) |</div>
                </div>
                
                <button onclick="toggleSolution('solution4')">Show Solution</button>
                
                <div id="solution4" class="solution">
                  <p>The correct answer is <strong>d) |</strong>.</p>
                </div>
            </div>

            <div class="quiz-container">
                <h2>Question 5:</h2>
                <!-- <br> -->
                <p>What will this program print?
                  main() <br>  
                  { <br>  
                    int i = 2; <br>  
                    { <br>  
                      int i = 4, j = 5 <br>;  
                      printf("%d %d", i, j); <br>  
                    }  <br>   
                    printf("%d %d", i, j);   <br>
                  }   <br>
                </p>
                
                <div class="options-container">
                  <div class="option" onclick="checkAnswer(this, 'a) 4525', 'solution5')">a) 4525</div>
                  <div class="option" onclick="checkAnswer(this, 'a) 4525', 'solution5')">b) 2525</div>
                  <div class="option" onclick="checkAnswer(this, 'a) 4525', 'solution5')">c) 4545</div>
                  <div class="option" onclick="checkAnswer(this, 'a) 4525', 'solution5')">d) None of the these
                </div>
                </div>
                
                <button onclick="toggleSolution('solution5')">Show Solution</button>
                
                <div id="solution5" class="solution">
                  <p>The correct answer is <strong>a) 4525</strong>.</p>
                </div>
            </div>
        </div>
    </div>


    
    
<!-- footer section -->
<footer>
    <div class="main">
        <div class="submain">
            <div class="head">
                <br>
                <br>
                <h3>QuizHub is a comprehensive directory of Objective Type Questions (MCQs) covering all Computer Science subjects. Our platform enables you to access and discuss multiple-choice questions and answers, making it an invaluable resource for competitive exams and interviews.</h3>
            </div>
            <div class="icon">
                <div class="icon1 iconhover">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="icon1 iconhover">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="icon1 iconhover">
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
            <div class="email">
                <h4><i class="fa-regular fa-envelope"></i>:contact@quizhub.com</h4>
            </div>
            <div class="info">
                <div class="tags">
                    <a href="#">About Us</a>
                    <a href="#">Contact Us</a>
                    <a href="#">Copyright</a>
                    <a href="#">TOS and Privacy Policy</a>
                </div>
                <div class="write">
                    <h4>Copyright © 2024 Compsciedu.com. All Rights Reserved.</h4>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    function checkAnswer(option, correctAnswer, solutionId) {
  var options = document.querySelectorAll('.option');
  options.forEach(function(opt) {
    opt.classList.remove('correct', 'incorrect');
    if (opt === option) {
      if (opt.textContent.trim().toLowerCase() === correctAnswer.toLowerCase()) {
        opt.classList.add('correct');
      } else {
        opt.classList.add('incorrect');
      }
    }
  });
}
  
  function toggleSolution(solutionId) {
    var solution = document.getElementById(solutionId);
    if (solution.style.display === 'none') {
      solution.style.display = 'block';
    } else {
      solution.style.display = 'none';
    }
  }
</script>
</body>
</html>