body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5eaf3;
  }

   /* Navigation bar styles */
   nav {
    background-color: #24505c;
    overflow: hidden;
    height: 85px;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 0px;
  }

  nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .hov:hover {
    background-color: #ddd;
    color: black;
  }

  .text{
    /* background-color: #198754; */
    height: 300px;
    width: 750px;
    margin: 20px 0px 0px 5px;
  }

  .p1{
    /* background-color: #198754; */
    height: 200px;
    width: 400px;
    margin: 40px 0px 0px 175px;
  }

  .img img{
    height: 450px;
    width: 850px;
    margin: -310px 0px 0px 620px;
  }
  /* Dropdown styles */
  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .container img{
    height: 66px;
    width: 220px;
    margin-top: 3px;
  }

  .login{
    display: flex;
    gap: 50px;
  }

  .ab{
    height: 18px;
    width: 40px;
    background-color: rgb(119, 151, 169);
    border-radius: 10px;
  }
  .abc{
    height: 18px;
    width: 48px;
    background-color: rgb(119, 151, 169);
    border-radius: 10px;
  }


  /* second section */

  .second{
    height: 280px;
    border-bottom-right-radius: 300px;
    background-image: url("/images/quiz-bg.png");
    text-align: center;
    margin-top: -27px;
    /* display: flex; */
  }

  .text h1{
    height: 60px;
    width: 1100px;
    /* background-color: #8bc34a; */
    margin: 55px 0px 0px -130px;
    color: white;
  }
  .p1{
    height: 65px;
    width: 1210px;
    /* background-color: #8bc34a; */
    margin: -25px 0px 0px 120px;
    text-align: left;
    color: white;
  }



  .main-container{
    display: flex;
    gap: 100px;
    margin-left: 100px;
  }

  .hover:hover{
    box-shadow: 0 0 10px 0px #3b3b3b;
    cursor: pointer;
  }
  /* left side section */

  .left-side-container{
    margin-top: 70px;
    position: relative;
  }

  .Networking{
    height: 210px;
    width: 600px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #fff8f8;
    transition: box-shadow 0.3s ease;
    
  }

  .section1{
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 30px; /* Adjust as needed */
  }

  .section1 a{
    text-decoration: none;
    font-size: 25px;
  }
  .img1 img{
    height: 130px;
    width: 210px;
    border-radius: 15px;
    margin-top: 15px;
  }

  .written1{
    height: 100px;
    width: 320px;
    /* background-color: gold; */
    margin: -140px 0px 0px 230px;
  }


  .Software{
    height: 210px;
    width: 600px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #fff8f8;
    margin-top: 70px;
  }

  .section2{
    padding-top: 10px;
  }
  .section2 .a1 {
    margin-left: 30px;
}

  .section2 a{
    display: block;
    text-decoration: none;
    font-size: 25px;
  }
  .img2 img{
    height: 130px;
    width: 210px;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 30px;
  }

  .written2{
    height: 100px;
    width: 320px;
    /* background-color: gold; */
    margin: -140px 0px 0px 260px;
  }


  .Ca{
    height: 210px;
    width: 600px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #fff8f8;
    margin-top: 210px;
  }

  .section3{
    padding-top: 10px;
  }
  .section3 .a1 {
    margin-left: 30px;
}

  .section3 a{
    display: block;
    text-decoration: none;
    font-size: 25px;
  }
  .img3 img{
    height: 130px;
    width: 210px;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 30px;
  }

  .written3{
    height: 100px;
    width: 320px;
    /* background-color: gold; */
    margin: -140px 0px 0px 260px;
  }

  .dbms{
    height: 210px;
    width: 600px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #fff8f8;
    margin-top: 70px;
  }

  .section7{
    padding-top: 10px;
  }
  .section7 .a1 {
    margin-left: 30px;
}

  .section7 a{
    display: block;
    text-decoration: none;
    font-size: 25px;
  }
  .img7 img{
    height: 130px;
    width: 210px;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 30px;
  }

  .written7{
    height: 100px;
    width: 320px;
    /* background-color: gold; */
    margin: -140px 0px 0px 260px;
  }


/* right side section */
  .right-side-container{
    margin-top: 70px;
    position: relative;
  }

  .os{
    height: 210px;
    width: 600px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #fff8f8;
    
  }

  .section4{
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 30px; /* Adjust as needed */
  }

  .section4 a{
    text-decoration: none;
    font-size: 25px;
  }
  .img4 img{
    height: 130px;
    width: 210px;
    border-radius: 15px;
    margin-top: 15px;
  }

  .written4{
    height: 100px;
    width: 320px;
    /* background-color: gold; */
    margin: -140px 0px 0px 230px;
  }


  .DSA{
    height: 210px;
    width: 600px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #fff8f8;
    margin-top: 70px;
  }

  .section5{
    padding-top: 10px;
  }
  .section5 .a1 {
    margin-left: 30px;
}

  .section5 a{
    display: block;
    text-decoration: none;
    font-size: 25px;
  }
  .img5 img{
    height: 130px;
    width: 210px;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 30px;
  }

  .written5{
    height: 100px;
    width: 320px;
    /* background-color: gold; */
    margin: -140px 0px 0px 260px;
  }


  .AI{
    height: 210px;
    width: 600px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #fff8f8;
    margin-top: 150px;
  }

  .section6{
    padding-top: 10px;
  }
  .section6 .a1 {
    margin-left: 30px;
}

  .section6 a{
    display: block;
    text-decoration: none;
    font-size: 25px;
  }
  .img6 img{
    height: 130px;
    width: 210px;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 30px;
  }

  .written6{
    height: 100px;
    width: 320px;
    /* background-color: gold; */
    margin: -140px 0px 0px 260px;
  }


  .Cpp{
    height: 210px;
    width: 600px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: #fff8f8;
    margin-top: 70px;
  }

  .section8{
    padding-top: 10px;
  }
  .section8 .a1 {
    margin-left: 30px;
}

  .section8 a{
    display: block;
    text-decoration: none;
    font-size: 25px;
  }
  .img8 img{
    height: 130px;
    width: 210px;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 30px;
  }

  .written8{
    height: 100px;
    width: 320px;
    /* background-color: gold; */
    margin: -140px 0px 0px 260px;
  }



/* middle1 */

.middle1{
    margin: 230px 0px 0px 100px;
    padding: 16px;
    background-color: rgb(224, 189, 219);
    border-radius: 25px;
}

.text{
    height: 250px;
    width: 470px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    /* background-color: aqua; */
}


/* middle2 */
.middle2{
    margin: 140px 0px 0px 0px;
}

.photo img{
    height: 430px;
    width: 500px;
}

  /* footer section */

  /* footer section */
  .main{
    height: 375px;
    width: 100%;
    background: linear-gradient(90deg, rgba(11,10,36,1) 0%, rgba(128,134,126,1) 47%, rgba(64,89,95,1) 100%);
    margin-top: 160px;
    text-align: center;
    color: white;
  }
  .head{
    /* background-color: #00ccd0; */
    height: 50px;
    width: 1300px;
    font-size: 15px;
    margin-left: 85px;
  }

  .icon{
    font-size: 35px;
    margin: 80px 0px 0px 700px;
    display: flex;
    gap: 25px;
  }
  .icon1{
    color: #e5e0e0;
  }
  .iconhover:hover{
    color: white;
    cursor: pointer;
  }
  .email{
    font-size: 16px;
    margin: 36px 0px 0px 40px;
  }

  .info{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
  }

  .tags{
    display: flex;
    gap: 30px;
    margin-left: 110px;
  }
  .tags a{
    color: white;
    font-size: 16px;
    text-decoration: none;
  }
  
  .write{
    margin: -20px 130px 0px 0px;
  }
