body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5eaf3;
}

 /* Navigation bar styles */
 nav {
  background-color: #24505c;
  overflow: hidden;
  height: 85px;
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 0px;
}

nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.hov:hover {
  background-color: #ddd;
  color: black;
}

.text{
  /* background-color: #198754; */
  height: 300px;
  width: 750px;
  margin: 20px 0px 0px 5px;
}

.p1{
  /* background-color: #198754; */
  height: 200px;
  width: 400px;
  margin: 40px 0px 0px 175px;
}

.img img{
  height: 450px;
  width: 850px;
  margin: -310px 0px 0px 620px;
}
/* Dropdown styles */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container img{
  height: 66px;
  width: 220px;
  margin-top: 3px;
}

.login{
  display: flex;
  gap: 50px;
}

.ab{
  height: 18px;
  width: 40px;
  background-color: rgb(119, 151, 169);
  border-radius: 10px;
}
.abc{
  height: 18px;
  width: 48px;
  background-color: rgb(119, 151, 169);
  border-radius: 10px;
}


/* second section */
.second{
  height: 280px;
  border-bottom-right-radius: 300px;
  background-image: url(/images/quiz-bg.png);
  text-align: center;
  margin-top: -27px;
  /* display: flex; */
}

.text h1{
  height: 60px;
  width: 1100px;
  /* background-color: #8bc34a; */
  margin: 55px 0px 0px -85px;
  color: white;
}
.p1{
  height: 65px;
  width: 1210px;
  /* background-color: #8bc34a; */
  margin: -25px 0px 0px 120px;
  text-align: left;
  color: white;
}

/* .pic1 img{
  margin: -350px 0px 0px 50px;
  height: 450px;
  width: 390px;
} */



/* side section */

.side-container{
  margin-top: 50px;
  background-color: rgb(81, 111, 128);
  width: 340px;
  height: 1880px;
  margin-left: 20px;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.heading{
  margin-left: 20px;
  color: #ddd;
}

.heading #h22{
  margin-top: -15px;
}

.home{
  margin-left: 30px;
  margin-top: 50px;
}

.home a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #ddd;
}

.home i{
  margin-right: 8px;
}

.home .texts:hover{
  text-decoration: underline;
  color: rgb(77, 75, 75);
}

.home hr{
  width: 300px;
  margin-left: -10px;
  margin-top: 25px;
}


.reasoning{
  margin-left: 30px;
  margin-top: 25px;
  padding-bottom: 50px;
}

.reasoning a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #ddd;
  display: block;
  margin-bottom: 5px;
}

.reasoning i{
  margin-right: 8px;
}

.reasoning .texts:hover{
  text-decoration: underline;
  color: rgb(77, 75, 75);
}

.reasoning hr{
  width: 300px;
  margin-left: -10px;
  margin-top: 25px;
}


.prog{
  margin-left: 30px;
  margin-top: -18px;
  padding-bottom: 50px;
}

.prog a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #ddd;
  display: block;
  margin-bottom: 5px;
}

.prog i{
  margin-right: 10px;
  font-size: 22px;
}

.prog .texts:hover{
  text-decoration: underline;
  color: rgb(77, 75, 75);
}

.prog hr{
  width: 300px;
  margin-left: -10px;
  margin-top: 25px;
}

/* quiz section */

.quiz-main{
  margin: 50px 0px 0px 0px;
}
.main-container{
  /* display: flexbox; */
  display: flex;
  gap: 200px;
}


.quiz-container {
  /* display: inline; */
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: -0px;
}

.options-container {
  margin-top: 20px;
}

.option {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: #f9f9f9;
}

.correct {
  background-color: #8bc34a !important; /* Add !important to override other styles */
}

.incorrect {
  background-color: #ff5722 !important; /* Add !important to override other styles */
}

.solution {
  display: none;
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}


/* footer section */

/* footer section */
.main{
  height: 375px;
  width: 100%;
  background: linear-gradient(90deg, rgba(11,10,36,1) 0%, rgba(128,134,126,1) 47%, rgba(64,89,95,1) 100%);
  margin-top: 160px;
  text-align: center;
  color: white;
}
.head{
  /* background-color: #00ccd0; */
  height: 50px;
  width: 1300px;
  font-size: 15px;
  margin-left: 85px;
}

.icon{
  font-size: 35px;
  margin: 80px 0px 0px 700px;
  display: flex;
  gap: 25px;
}
.icon1{
  color: #e5e0e0;
}
.iconhover:hover{
  color: white;
  cursor: pointer;
}
.email{
  font-size: 16px;
  margin: 36px 0px 0px 40px;
}

.info{
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.tags{
  display: flex;
  gap: 30px;
  margin-left: 110px;
}
.tags a{
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.write{
  margin: -20px 130px 0px 0px;
}
