

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/d4b6d93ef0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link
      rel="stylesheet"
      data-purpose="Layout StyleSheet"
      title="Web Awesome"
      href="/css/app-wa-fba26eda6a3fd6b4d0ce0def1e2ba1d7.css?vsn=d"
    >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css"
      >

      <link
        rel="stylesheet"
        href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css"
      >

      
      <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    <link rel="stylesheet" href="css/navbar1.css">
</head>
<body>
    <nav>
        <div class="container1">
            <div class="logo1">
                <img src="/images/logo1.png" alt="">
            </div>
        </div>

        <div class="home hov">
            <a href="#">Home</a>
        </div>

        <div class="sub hov">
            <a href="#">DSA & Algo</a>
        </div>

        <div class="lang hov">
            <a href="#">Languages</a>
        </div>

        <div class="Apti hov">
            <a href="#">Aptitude</a>
        </div>

        <div class="mcq hov">
            <a href="#">MCQs</a>
        </div>

        <div class="cssub hov">
            <a href="#">CS Subjects</a>
        </div>

        <p></p><p></p>
        <div class="main-login">
        {{#if userEmail}}
        <div class="main1">
            <p>Welcome, {{userEmail}}!</p>
            <a class="a hov" href="/index1">Logout</a>
        </div>
        {{else}}
        <div class="login">
            <a class="ab hov" href="/login">Login</a>
            <a class="abc hov" href="/register">Signup</a>
        </div>
    {{/if}}
    </div>
    </nav>
